@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
	padding: 0;
	margin: 0;
}

.row {
	margin-right: 0px;
	margin-left: 0;
}

.container {
	flex: 1 0 auto;
}

[class~=feedbackForm] ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white;
	font-weight: 300;
}
[class~=feedbackForm] ::-moz-placeholder { /* Firefox 19+ */
	color: white;
	font-weight: 300;
}
[class~=feedbackForm] :-ms-input-placeholder { /* IE 10+ */
	color: white;
	font-weight: 300;
}
[class~=feedbackForm] :-moz-placeholder { /* Firefox 18- */
	color: white;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

img {
	vertical-align:middle;
}

ul,li {
	list-style-type: none;
	margin-bottom: 0;
}

label{
	margin-bottom: 0px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300!important;
}

p {
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #1b1b1b;
	color: #fff;
}

header {
	padding-top: 30px;
	background-image: url('../images/background.png');
	background-position: center;
	height: 384px;
	background-size: cover;
	margin-bottom: 30px;
}

header .menu {
	display: flex;
	height: 40px;
	width: 100%;
	z-index: 2;
}

header .menu .logo {
	display: inline-flex;
}

header ul {
	display: inline-flex;
	align-items: center;
}

header ul li {
	display: inline-flex;
	font-weight: 300;
	margin-left: 22px;
	font-size: 19px;
}

header li a {
	color: #cecece;
}

header .aboutTitle {
	margin-top: 76px;
	color: #cecece;
	font-size: 19px;
	font-weight: 300;
}

header .searchIndex {
	height: 50px;
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.searchIndex .name {
	float: left;
	background-color: #e8e8e8;
	border-radius: 3px 0 0 3px;
	font-size: 16px;
	outline: none;
	border: none;
	padding: 13px 14px;
	width: 69%;
	height: 100%;
}

.searchIndex .platform-select {
	-webkit-border-radius:0px;
	border-radius: 0;
	float: left;
	border: none;
	outline: none;
	height: 100%;
	background-color: #e8e8e8;
	border-left: 1px solid #d6d6d6;
	padding: 3px;
	font-size: 15px;
}

.searchIndex .search {
	float: left;
	font-size: 19px;
	background-color: #e45152;
	outline: none;
	border: none;
	color: #fff;
	padding: 12px 14px;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	transition: all 0.2s;
}

.searchIndex .search:hover {
	background-color: #c74546;
}

.discBlock {
	display: flex;
	justify-content: center;
}

.discordButton {
	position: relative;
	background-color: #647fdb;
	text-align: center;
	font-size: 17px;
	padding: 8px 10px;
	width: 220px;
	margin-top: 44px;
	border-radius: 3px;
	overflow: hidden;
}

.discordButton::after {
	content: '';
	position: absolute;
	top: -50%;
	right: -50%;
	bottom: -50%;
	left: -71%;
	background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
	transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.discordButton:hover::after, .discordButton:focus::after { animation: sheen 1s forwards; }

@keyframes sheen {
	100% {
		transform: rotateZ(60deg) translate(1em, -9em);
	}
}

p.newsTitle {
	text-transform: uppercase;
	color: #afafaf;
	font-size: 19px;
}

.newsBlock li {
	margin-bottom: 20px;
}

.newsBlock li:last-child {
	margin: 0;
}

.newsBlock .newsItem {
	position: relative;
	height: 250px;
	background-color: #191919;
}

.newsBlock .newsItem .backImg {
	width: 100%;
	height: 100%;
	opacity: 0.45;
	background-size: cover;
	background-repeat: no-repeat;
}

.newsBlock .item .backImg{
	transition: all 0.3s;
}

.newsBlock .item:hover .backImg{
	opacity: 0.6;
}

.newsItem .news-title {
	position: relative;
	bottom: 120px;
	left: 10px;
	display: block;
	font-size: 29px;
	color: #fff;
	max-width: 638px;
	height: 41px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.newsItem .news-date {
	display: block;
	color: #c4c4c4;
	font-size: 14px;
	position: relative;
	bottom: 125px;
	left: 10px;
}

.newsItem .news-desc {
	display: block;
	color: #c4c4c4;
	position: relative;
	left: 10px;
	bottom: 120px;
	max-width: 88%;
	font-size: 19px;
	overflow: hidden;
	height: 60px;
}


.mini-leaderBord {
	background-color: #1f1f1f;
	border: 1px solid #272727;
	border-radius: 2px;
	padding: 8px;
}

.mini-leaderBord .title	{
	color: #c4c4c4;
	font-size: 18px;
	padding-bottom: 9px;
	border-bottom: 1px solid #292929;
}

.mini-leaderBord .title i{
	color: #cdcdcd;
	margin-left: 10px;
}

.mini-leaderBord th {
	font-weight: 300;
	color: #acacac;
	padding-bottom: 11px;
}

.mini-leaderBord tr {
	padding: 5px 0;
}

.mini-leaderBord td .place,.rating,.wins {
	text-align: center;
}

.mini-leaderBord tr:nth-child(1) {
	border-bottom: 1px solid #565656;
}

.mini-leaderBord td.place {
	text-align: center;
	color: #949494;
}

.mini-leaderBord td.nick {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mini-leaderBord td.rating,.wins {
	color: #949494;
}

.mini-leaderBord tr td {
	padding: 10px;
}

.mini-leaderBord tr:nth-child(2) {
	background-color: #252629!important;
}

.mini-leaderBord tr:nth-child(2n) {
	background-color: #252629;
}

.mini-leaderBord .moreLeader {
	display: flex;
	justify-content: center;
	padding: 8px;
	color: #cdcdcd;
}

.mini-leaderBord .moreLeader i {
	display: flex;
	align-items: center;
	margin-left: 15px;
}

footer {
	position: relative;
	z-index: 100;
	margin-top: 50px;
	background-color: #1f1f1f;
	padding: 7px 0;
	flex: 0 0 auto;
}

footer .siteTitle {
	display: inline-block;
	text-transform: uppercase;
	font-size: 15px;
	margin-right: 5px;
}

footer .feedback {
	display: inline-block;
	font-size: 14px;
}

footer .feedback a {
	color: #cfcfcf;
}

footer .copyright {
	font-size: 13px;
	color: #acacac;
}

footer .copyright span.site {
	color: #fff;
}



.xsHeader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: #252525;
	font-size: 25px;
	z-index: 105;
}

.xsHeader span.labeClose {
	align-items: center;
	text-transform: uppercase;
	font-weight: 300;
	color: #cfcfcf;
	font-size: 15px;
}

.closeWindow {
	display: block;
	background-color: #333333;
	width: 100%;
	padding: 10px 0 10px 60px;
}

.closeWindow:hover {
	background-color: #424242;
}

.closeIco {
	position: absolute;
	top: 16px;
	left: 14px;
	width: 32px;
	height: 32px;
	opacity: 0.5;
	z-index: 999;
}

.closeIco:before, .closeIco:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #fff;
}
.closeIco:before {
	transform: rotate(45deg);
}
.closeIco:after {
	transform: rotate(-45deg);
}

.xsHeader .ulMenu {
	margin-top: 20px;
	margin-left: 30px;
}

.xsHeader .ulMenu li {
	display: block;
	list-style-type: none;
	padding-right: 10px;
	padding-top: 11px;
	font-size: 26px;
}

.xsHeader .ulMenu li a {
	color: #c1c1c1;
}

.xsHeader .ulMenu li a:hover {
	color: #fff;
}

.xsHeader .foot {
	padding: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.xsHeader .foot .copyright {
	font-size: 12px;
	color: #8c8c8c;
}

.xsHeader .foot .siteTitle {
	font-size: 16px;
	display: inline-block;
}

.xsHeader .foot .feedback {
	font-size: 12px;
	display: inline-block;
}

.xsHeader .foot .feedback a{
	color: #888887;
}


.page-header {
	position: relative;
	z-index: 100;
	display: flex;
	background-color: #2d2d2d;
	padding: 10px;
}

.page-header .menu {
	display: flex;
	height: 40px;
	width: 100%;
	z-index: 2;
}

.page-header .logo {
	display: inline-flex;
}

.page-header ul {
	display: inline-flex;
	align-items: center;
	margin-left: 3px;
}

.page-header ul li {
	margin-left: 20px;
}

.page-header ul li a {
	color: #cecece;
	font-size: 20px;
	font-weight: 300;
	transition: all 0.2s;
}

.page-header ul li a:hover {
	color: #fff;
}

.headerSearch {
	display: flex;
	height: 33px;
	align-items: center;
}

.headerSearch .platform {
	position: absolute;
	right: 56px;
	font-size: 18px;
}

.headerSearch .platform i {
	cursor: pointer;
}

.headerSearch .text-field {
	font-size: 15px;
	padding: 7px 30px 7px 10px;
	background-color: #d7d7d7;
	border: none;
	width: 100%;
	outline: none;
	box-shadow: 0px 0px 26.97px 2.03px rgba(0, 0, 0, 0.1);
	color: #000;
}

.headerSearch .send-form {
	cursor: pointer;
	color: #ffffff;
	background-color: #e45152;
	padding: 6px 9px;
	font-size: 16px;
	border: none;
	outline: none;
	border-radius: 0 2px 3px 0;;
}

.page-header .discBlock {
	align-items: center;
	justify-content: flex-end;
}

.page-header .discordButton {
	margin-top: 0px;
	font-size: 15px;
	width: 181px;
}

.player-background {
	position: relative;
	z-index: 100;
	margin: 100px 0;
}

.player-background .playerTitle {
	display: flex;
	align-items: center;
}

.player-background .playerTitle .playerInfo {
	display: block;
	height: 224px;
	background: #fff url(../images/playerBackground.png);
	background-position: center;
	background-size: cover;
	padding: 8px;
}

.playerInfo .avatar {
	display: inline-flex;
	float: left;
	margin: 20px;
}

.playerInfo .avatar img {
	padding: 6px;
	border: 1.5px solid #fff;
	border-radius: 50px;
	vertical-align: middle;
	box-shadow: 0 0 11px 0px #757575;
	background-color: #1d1d1d;
}

.playerInfo .online img {
	border: 1.5px solid #5ed45c;
}

.playerInfo .inMatch img {
	border: 1.5px solid #04fff3;
}

.playerInfo .nickName {
	display: inline-block;
	align-items: flex-start;
	font-size: 24px;
	margin-top: 12px;
}

.playerInfo .nickName i {
	margin: 4px 0 0 6px;
}

.stats {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.stat {
	display: inline-block;
	margin-right: 40px;
}

.stats span.name {
	display: block;
	color: #cecece;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 300;
}

.stats span.value {
	display: flex;
	justify-content: center;
	font-size: 44px;
	font-weight: 300;
}

.stats span.topPlace {
	display: flex;
	justify-content: center;
	border-top: 1px solid #777777;
	padding-top: 8px;
	font-size: 18px;
	font-weight: 300;
	color: #b3b3b3;
}

.info-block	{
	display: flex;
	justify-content: center;
	background-color: #292929;
	border: 1px solid #3e3e3e;
	border-radius: 2px;
	padding: 10px;
	color: #7b7b7b;
	font-size: 15px;
}

.info-block i {
	display: flex;
	align-items: center;
	float: left;
	font-size: 50px;
	margin: 0 10px;
}

.legend {
	background-color: #2d2d2d;
	margin: 30px 0;
}

.legendImg {
	display: inline-flex;
}

.legend .title {
	background-color: #151515;
	padding: 4px 0 0 8px;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 300;
}

.legend .playerStat {
	padding: 8px;
}

.playerStat .stats {
	display: flex;
	justify-content: initial!important;
	align-items: center;
}

.playerStat .legendImg {
	margin-left: 20px;
	width: 63%;
}

.playerStat .stats .lStat {
	display: flex;
	justify-content: center;
	width: 100%;
}

.playerStat .legStats{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.playerStat .legStats li {
	display: inline-block;
	margin: 0 45px 8px 0;
}


.playerStat .legStats li .val {
	display: flex;
	font-size: 38px;
}

.playerStat .legStats li .name {
	display: flex;
	font-size: 16px;
	text-transform: unset;
	width: 150px;
}

.match .title {
	background-color: #151515;
	text-transform: uppercase;
	padding: 5px;
}

.match .matchInfo {
	padding: 6px 8px;
	margin: 10px 0;
	display: flex;
	align-items: center;
	font-weight: 300;
	color: #b7b7b7;
}

.match .matchInfo {
	display: flex;
	border-left: 5px solid #595959;
	background-color: #2d2d2d;
	width: 100%;
}

.match .matchInfo .timeInfo {
	display: inline-block;
	width: 14%;
}

.match .matchInfo .timeInfo .timeago {
	display: flex;
	justify-content: center;
	width: 100%;
}

.match .matchInfo .time {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: 5px;
} 

.match .matchInfo .stat {
	display: flex;
	justify-content: center;
}

.match .matchInfo  .character {
	display: inline-block;
	width: 16%;
}

.match .matchInfo  .character .legendMatch {
	color: #fff;
	font-size: 21px;
	display: flex;
	width: 100%;
	justify-content: center;
	text-transform: uppercase;
}

.match .matchInfo  .character .name {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 4px 0;
	font-size: 16px;
}

.match .matchInfo  .matchStat {
	display: inline-block;
	width: 28%;
}

.match .matchInfo  .matchStat .value {
	color: #fff;
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 4px 0;
	font-size: 19px;
}

.match .matchInfo  .matchStat .name {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 4px 0;
	font-size: 16px;
}

.match .matchInfo i {
	font-size: 41px;
	color: #535353;
	margin-left: 40px;
}

.match .showMore {
	display: block;
	background-color: #272727;
	font-size: 15px;
	padding: 9px 0;
	text-align: center;
	border: 1px solid #3e3e3e;
	margin: 20px 0;
}

.match .showMore a {
	display: block;
}

.leaderbord	{
	position: relative;
	padding-top: 30px;
	margin-bottom: 30px;
	z-index: 100!important;
}

.leaderbord .pagesList{
	display: flex;
	justify-content: flex-end;
	padding: 10px 20px;
}

.leaderbord .pagesList a {
	padding: 0 10px;
}

.leaderbord .pagesList a.select {
	color: #fff;
	border-bottom: 1px solid #8c8c8c;
	padding-bottom: 5px;
	color: #cdcdcd;
}

.leaderbord .pagesList a.firstPage {
	display: flex;
	align-items: center;
	font-size: 17px;
	color: #cfcfcf;
}

.leaderbord .pagesList a.lastPage {
	display: flex;
	align-items: center;
	font-size: 17px;
	color: #cfcfcf
}


.leaderbord .tableBord {
	position: relative;
	z-index: 100;
	background-color: #1f1f1f;/*#1f1f1f*/
	padding: 10px;
}

.tableBord .top {
	display: flex;
	padding: 7px 7px 15px 7px;
	border-bottom: 1px solid #4c4c4c;
}

.tableBord .top .title {
	font-size: 20px;
	text-transform: uppercase;
	color: #dcdcdc;
	display: flex;
	justify-content: flex-start;
}

.tableBord .top .settings {
	display: flex;
	justify-content: flex-end;
}

.tableBord .platform {
	display: inline-flex;
	margin-right: 20px;
}

.tableBord .platform .nice-select {
	width: 133px;
}

.tableBord .sort .nice-select {
	width: 185px;
}

.tableBord .sort {
	display: inline-flex;
}

.tableList {
	padding: 10px 3px;
}

.tableList th {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 300;
	color: #b1b1b1;
	padding: 10px 0 20px 0;
	background: #202020;
}

.tableList tr {
	background-color: #292929;
}

.tableList tr:nth-child(2n) {
	background-color: #1d1d1d;
}

.tableList tr td{
	padding: 8px 10px;
}

.tableList td.place {
	color: #8e8e8e;
	padding-left: 20px;
}

.tableList td.nick {
	font-size: 17px;
}

.tableList td.nick img {
	margin-right: 10px;
	border-radius: 20px;
	height: 24px;
}

.nice-select {
	background-color: #2e2e2e!important;
	border: 1px solid #484848!important;
	height: auto!important;
	line-height: 2!important;
	font-size: 15px!important;
}

.nice-select .option {
	background-color: #292d33;
	border-radius: 0px;
	padding-right: 32px!important;
	padding-left: 14px!important;
	font-size: 13px;
}

.nice-select .list {
	background-color: #22262f!important;
	font-size: 14px;
}

.nice-select .option {
	padding-right: 37px!important;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
	background-color: #333942!important;
}

.sidebarNews {
	position: relative;
	z-index: 100;
	margin-top: 30px;
}

.sidebarNews .title {
	font-size: 21px;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
}

.sidebarNews .newsItem {
	margin: 15px 0;
	background-color: #000;
	height: 150px;
}

.newsItem .backImg {
	background-size: cover;
	background-position: center;
}

.newsItem .newsTitle {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2;
	position: relative;
	bottom: 69px;
	height: 70px;
	width: 100%;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );;
}

.newsItem .newsTitle span {
	display: block;
	margin-left: 8px;
	padding-top: 15px;
	overflow: hidden;
	height: 57px;
	text-overflow: ellipsis;
}

.leaderPageBack {
	position: absolute;
	top: 0;
	background-image: url('../images/background.png');
	background-position: center;
	background-size: cover;
	height: 384px;
	z-index: 5;
}

.newsPage {
	position: relative;
	z-index: 100;
	background-color: #252525;
	margin-top: 35px;
}

.newsPage .titleImg {
	height: 330px;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.6;
	background-position: center;
}

.newsPage .title {
	font-size: 28px;
	color: #fff;
	font-weight: 300;
	padding-left: 8px;
	position: relative;
	bottom: 116px;
	width: 100%;
	overflow: hidden;
	height: 116px;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(37,37,36,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(37,37,36,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(37,37,36,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(37,37,36,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(37,37,36,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(37,37,36,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#252524', GradientType=0 );
}

.newsPage .datePost {
	position: relative;
	bottom: 160px;
	padding-left: 8px;
	padding-top: 10px;
	font-size: 18px;
	color: #c5c5c5;
}

.newsPage .newsText {
	margin-top: -157px;
	padding: 12px;
	font-size: 16px;
	line-height: 1.9;
	font-weight: 300;
}

.newsPage .newsText p img {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	max-width: 100%;
}

.newsPage .newsText p a {
	text-decoration: underline;
	color: #ed8664;
}

.mobi-header .logo {
	display: inline-block;
}

.mobi-header .openMenu {
	display: inline-block;
	float: right;
	font-size: 29px;
	border: 1px solid #505050;
	padding: 0 15px;
	border-radius: 4px;
	cursor: pointer;
}

.tableList td.nick a{
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 85%;
}

.tableList td.nick i {
	vertical-align: super;
}

.lImg {
	width: 25%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.xsHeader .headerSearch {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.xsHeader .headerSearch .text-field {
	width: 60%;
}

.xsHeader .headerSearch .platform {
	right: 27%;
}

.xsHeader .headerSearch .send-form {
	right: 29px;
	top: -1px;
}

.xsHeader .headerSearch .send-form i {
	font-size: 18px;
}

.xsHeader .discordButton {
	width: 217px;
	margin-top: 23px;
}

.mt-50 {
	margin-top: 50px;
}

.error {
	color: #b9b9b9;
	font-size: 16px;
}

.error i {
	color: #fff;
}

.headerSearch .platform-select {
	background-color: #d7d7d7;
	padding: 7px 0;
	font-size: 17px;
	width: 27%;
	outline: none;
	border: none;
	border-left: 1px solid #c5c5c5;
}

.playerInfo .update {
	display: inline-block;
	font-weight: 300;
	font-size: 15px;
	color: #cfcfcf;
}

.playerInfo .update a {
	margin-left: 5px;
	color: #cfcfcf;
}

.playerInfo .status {
	display: inline-block;
	font-weight: 300;
	font-size: 16px;
}

.playerInfo .status .online {
	color: #4bff4b;
}

.playerInfo .status .inGame {
	color: #92eaff;
}

.spinner {
	display: none;
	position: fixed;
	z-index: 10000;
	top: 0;
	align-items: center;
	justify-content: center;
}

.spinner p {
	position: fixed;
	z-index: 1000;
	margin-top: 60px;
	font-size: 17px;
	color: #696969;
}

.spinner .back {
	position: fixed;
	background-color: #000;
	opacity: 0.8;
	color: #676767;
}

.loader,
.loader:before,
.loader:after {
	background: #ffffff;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	display: block;
	color: #ffffff;
	text-indent: -9999em;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}

.mapSidebar {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 372px;
	background: #191919;
	z-index: 999;
	padding: 110px 0 0 0;
}

.mapSidebar .logo {
	display: flex;
	justify-content: center;
	height: 119px;
	margin: 20px 0 10px 0;
}

.mapSidebar .logo img{
	width: 150px;
	height: 120px;
}

.mapSidebar .menu {
	display: flex;
	justify-content: center;
	margin: 0 0 20px 0;
}

.mapSidebar .menu ul {
	width: 100%;
	padding: 0 30px;
}

.mapSidebar .menu ul li {
	background-color: #313131;
	text-transform: uppercase;
	padding: 6px 8px;
	font-size: 18px;
	font-weight: 300;
	margin: 10px 0;
}

.mapSidebar .menu ul li a {
	display: block;
}

.mapSidebar .menu .cheked {
	opacity: 1;
}
.mapSidebar .menu .nocheck {
	opacity: 0.3;
}

.mapSidebar .menu ul li a i {
	margin-right: 5px;
}

.mapSidebar .showAll {
	display: flex;
	justify-content: center;
	font-size: 15px;
	text-transform: uppercase;
}

.mapSidebar .showAll i {
	font-size: 18px;
}

.hideSidebar {
	position: absolute;
	display: flex;
	top: 44px;
	width: 372px;
	justify-content: center;
	font-size: 17px;
	z-index: 1000;
}

.hideSidebar a {
	display: flex;
	width: 100%;
	text-align: left;
	padding: 10px 20px;
	background-color: #323232;
	text-transform: uppercase;
	font-weight: 300;
}

.hideSidebar a span {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.hideSidebar:hover .nav-icon:before{
	transform: translateY(10px) rotate(135deg)
}

.hideSidebar:hover .nav-icon:after{
	transform: translateY(-10px) rotate(-135deg);
}

.hideSidebar:hover .nav-icon div{
	transform: scale(0);
}


.nav-icon {
	display: inline-block;
	width: 33px;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
	background-color: #fff;
	border-radius: 3px;
	content: '';
	display: block;
	height: 3px;
	margin: 7px 0;
	transition: all .2s ease-in-out;
}

.nav-icon:hover:before {
	transform: translateY(10px) rotate(135deg);
}

.nav-icon:hover:after {
	transform: translateY(-10px) rotate(-135deg);
}

.nav-icon:hover div {
	transform: scale(0);
}

.barFoot {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	color: #cfcfcf;
	width: 100%;
}

.barFoot p {
	text-align: center;
	width: 74%;
}

@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

.feedbackForm {
	position: relative;
	z-index: 1000;
	background-color: #262626;
	margin-top: 50px;
}

.feedbackForm .title {
	padding: 8px;
	font-weight: 300!important;
}

.feedbackForm .desc {
	display: block;
	padding: 5px 10px;
	font-size: 15px;
	color: #cfcfcf;
}

.formFeed {
	margin: 10px 0;
}

.formFeed input[type="text"] {
	background-color: #3c3c3c;
	font-size: 15px;
	padding: 8px 18px;
	border: 1px solid #444444;
	border-radius: 0px;
	margin:5px 0;
	outline: none;
	color: #fff;
	width: 100%;
}

.formFeed select {
	background-color: #3c3c3c;
	font-size: 15px;
	padding: 8px 18px;
	border: 1px solid #444444;
	border-radius: 0px;
	margin: 15px 20px 15px 0;
	outline: none;
	color: #fff;
	width: 99.5%;
}

.formFeed textarea {
	transition: all 0.1s;
	background-color: #3c3c3c;
	font-size: 15px;
	padding: 8px 18px;
	border: 1px solid #444444;
	border-radius: 0px;
	margin: 15px 20px 15px 0;
	outline: none;
	color: #fff;
	width: 99.5%;
}

.formFeed input[type="submit"] {
	text-transform: uppercase;
	padding: 8px 10px;
	background-color: #e45152;
	outline: none;
	color: white;
	border: 0;
	margin: 0 0 20px 0;
	font-weight: 300;
}

.formFeed input.uName {
	width: 49%;
	display: inline-block;
}

.formFeed input.uMail {
	width: 50%;
	display: inline-block;
}

.selected-legend {
	border: 1px solid #343434;
	background-color: #202020;
}

.post-editor {
	padding: 34px; 
	margin: 30px 0 0 0;
}

[class~=post-editor] ::-webkit-input-placeholder {
	color: #fff;
}

.ql-toolbar {
	margin: 50px 0 0 0!important;
	border: 1px solid #3e3e3e!important;
}

.ql-container {
	border: 1px solid #3e3e3e!important;
	margin-bottom: 30px!important;
}

.ql-snow .ql-stroke, .ql-fill {
	stroke: #ffffff!important;
}

.ql-snow .ql-picker-label {
	color: #fff;
}

.ql-snow .ql-picker-options {
	background-color: #484848!important;
}

.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
	height: 30px!important;
	width: 30px!important;
}

.post-editor .namePost {
	width: 100%;
	font-size: 25px;
	font-weight: 300;
	background-color: transparent;
	border: none;
	outline: none;
	padding-bottom: 4px;
	padding-left: 8px;
	color: #fff;
	border-bottom: 1px solid #bfbfbf;
}

.post-editor .postDesc {
	margin: 30px 0 10px 0!important;
	font-size: 16px;
	color: #cfcfcf;
}

.post-editor .postImg {
	margin: 10px 0!important;
	font-size: 16px;
	color: #cfcfcf;
}

.post-editor .text {
	background-color: red;
	width: 100%;
	margin: 30px 0;
	border: none;
	outline: none;
}

.post-editor .savePost {
	font-size: 20px;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 90px;
	border: 1px solid #fff;
	outline: none;
	color: #fff;
	cursor: pointer;
	background: rgba(250,103,103,1);
	background: -moz-linear-gradient(-45deg, rgba(250,103,103,1) 0%, rgba(255,74,171,0.99) 34%, rgba(91,21,219,0.96) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(250,103,103,1)), color-stop(34%, rgba(255,74,171,0.99)), color-stop(100%, rgba(91,21,219,0.96)));
	background: -webkit-linear-gradient(-45deg, rgba(250,103,103,1) 0%, rgba(255,74,171,0.99) 34%, rgba(91,21,219,0.96) 100%);
	background: -o-linear-gradient(-45deg, rgba(250,103,103,1) 0%, rgba(255,74,171,0.99) 34%, rgba(91,21,219,0.96) 100%);
	background: -ms-linear-gradient(-45deg, rgba(250,103,103,1) 0%, rgba(255,74,171,0.99) 34%, rgba(91,21,219,0.96) 100%);
	background: linear-gradient(135deg, rgba(250,103,103,1) 0%, rgba(255,74,171,0.99) 34%, rgba(91,21,219,0.96) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa6767', endColorstr='#5b15db', GradientType=1 );
}

.post-editor .savePost:hover {
	background: rgba(238,105,250,1);
	background: -moz-linear-gradient(-45deg, rgba(238,105,250,1) 0%, rgba(255,76,243,0.99) 34%, rgba(152,21,217,0.96) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(238,105,250,1)), color-stop(34%, rgba(255,76,243,0.99)), color-stop(100%, rgba(152,21,217,0.96)));
	background: -webkit-linear-gradient(-45deg, rgba(238,105,250,1) 0%, rgba(255,76,243,0.99) 34%, rgba(152,21,217,0.96) 100%);
	background: -o-linear-gradient(-45deg, rgba(238,105,250,1) 0%, rgba(255,76,243,0.99) 34%, rgba(152,21,217,0.96) 100%);
	background: -ms-linear-gradient(-45deg, rgba(238,105,250,1) 0%, rgba(255,76,243,0.99) 34%, rgba(152,21,217,0.96) 100%);
	background: linear-gradient(135deg, rgba(238,105,250,1) 0%, rgba(255,76,243,0.99) 34%, rgba(152,21,217,0.96) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee69fa', endColorstr='#9815d9', GradientType=1 );

}

.saveButton {
	display: flex;
	justify-content: center;
}

.mod-block {
	position: absolute;
	top: 3px;
	right: 24px;
}

.mod-block a {
	margin-right: 5px;
	font-size: 21px;
	opacity: 0.8;
}

.formPost {
	margin-top: 20px;
}

.newPost-button {
	background-color: #2b2b2b;
	padding: 6px 9px;
	border-radius: 5px;
	border: 1px solid #353535;
}

.ql-align-center {
	text-align: center;
}

.ql-align-right {
	text-align: right;
}

.ql-editor {
	font-size: 16px;
}

.ql-snow .ql-picker-options .ql-picker-item {
	color: #fff;
}

.engWork {
	position: absolute;
	height: 100%;
	width: 100%;
}

.engWork .back {
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.engCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.engCenter .logo img{
	max-width: 100%;
}

.engCenter .logo {
	margin-bottom: 30px;
}

.engCenter .text {
	display: flex;
	font-size: 28px;
	justify-content: center;
	font-weight: 300;
	color: #bdbdbd;
	margin-left: 20px;
	text-align: center;
}

.engCenter .discordButton {
	margin-top: 20px;
}

.engCenter .copyright {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	color: #fdfdfd;
	font-size: 12px;
}

.donation .desc {
	color: #cfcfcf;
	text-align: center;
}

.donation .desc span {
	color: #fff;
	font-size: 16px;
	margin-right: 5px;
}

.donation .progress {
	margin: 15px 0;
	height: 1.5rem;
	background-position: #808080;
	color: #000;
	font-size: 16px;
}

.donation .progress .bar {
	position: relative;
	background-color: #ffbf00;
	text-align: right;
	color: #000;
	font-size: 16px;
    
}

@media only screen and (max-width: 1200px) {
	.newsItem .news-desc {
		height: 55px;
	}

	.newsItem .news-title {
		max-width: 489px;
	}

	.page-header ul li a {
		font-size: 17px;
	}

	.sidebarNews .newsItem {
		height: 120px;
	}

	.stats span.name {
		font-size: 21px;
	}

	.stats span.value {
		font-size: 41px;
	}

	.mini-leaderBord td.nick {
		font-size: 12px;
	}

	.mini-leaderBord td.rating, .wins {
		font-size: 13px;
	}

	.mini-leaderBord th {
		font-size: 14px;
	}

	.mini-leaderBord tr td {
		padding: 6px 0;
	}

	.playerStat .legStats li {
		margin: 0 14px 6px 0;
	}

	.playerStat .legStats li .val {
		font-size: 34px;
	}

	.playerStat .legStats li .name {
		font-size: 15px;
	}

	.match .matchInfo .matchStat .value {
		font-size: 20px;
	}
}


@media only screen and (max-width: 992px) {
	.page-header .discordButton span {
		display: none;
	}

	.newsItem .newsTitle {
		width: 100%;
	}

	.sidebarNews .newsItem {
		height: 180px;
	}

	.mini-leaderBord {
		margin-top: 30px;
	}

	.stats span.name {
		font-size: 13px;
	}

	.stats span.value {
		font-size: 33px;
	}

	.stat {
		margin-right: 20px;
	}

	.playerInfo .avatar {
		align-items: flex-start;
	}

	.playerInfo .avatar img {
		width: 100px;
		height: 100px;
	}

	.playerInfo .nickName {
		font-size: 20px;
		margin-top: 24px;
	}

	.info-block {
		font-size: 14px;
	}

	.info-block i {
		font-size: 36px;
	}

	.playerStat .legStats li {
		margin: 0 0px 1px 0;
	}

	.playerStat .legStats li .val {
		font-size: 29px;
	}

	.playerStat .legStats li .name {
		font-size: 13px;
	}

	.lImg {
		width: 29%;
	}

	.playerStat .legStats {
		grid-template-columns: repeat(3, 1fr);
	}

	.playerStat .legendImg {
		width: 76%;
	}

	.match .matchInfo .matchStat .value {
		font-size: 15px;
	}

	.match .matchInfo .matchStat .name {
		font-size: 15px;
	}

	.match .matchInfo .character .name {
		font-size: 15px;
	}

	.match .matchInfo .character .legendMatch {
		font-size: 17px;
	}

	.match .matchInfo .timeInfo .timeago {
		font-size: 12px;
	}

	.match .matchInfo .time {
		font-size: 14px;
	}
}

@media only screen and (max-width: 768px) {
	.newsItem .news-title {
		max-width: 379px;
	}

	header .discordButton {
		margin-top: 63px;
	}

	.newsPage .titleImg {
		height: 260px;
	}

	.newsPage .datePost {
		bottom: 162px;
	}

	.page-header {
		padding: 5px;
	}

	.mobi-header .openMenu {
		font-size: 24px;
	}

	header .menu {
		display: none;
	}

	.tableList {
		padding: 10px 0;
	}

	.tableList th {
		font-size: 13px;
	}

	.tableBord .top .title {
		font-size: 16px;
	}

	.nice-select {
		font-size: 13px!important;
	}

	.tableBord .platform {
		margin-right: 8px;
	}

	.leaderbord .pagesList a.firstPage {
		font-size: 15px;
	}

	.leaderbord .pagesList a.lastPage {
		font-size: 15px;
	}

	.tableList td.nick {
		font-size: 16px;
	}

	.tableList tr td {
		font-size: 14px;
	}

	.player-background .playerTitle .playerInfo {
		height: 302px;
	}

	.playerInfo .avatar {
		align-items: baseline;
	}

	.player-background .playerTitle .playerInfo {
		display: block;
	}

	.playerInfo .stats {
		margin-top: 10px;
	}

	.playerInfo .nickName {
		display: flex;
		float: unset;
		justify-content: center;
		margin-top: 0px!important;
	}

	.playerInfo .avatar {
		display: flex;
		float: unset;
		justify-content: center;
	}

	.playerStat .stats span.value {
		font-size: 22px;
	}

	.playerStat .legendImg {
		margin-left: 6px;
		width: 27%;
	}

	.match .matchInfo {
		font-size: 16px;
	}

	.match .matchInfo i {
		font-size: 32px;
		margin-left: 5px;
	}

	.info-block {
		font-size: 12px;
	}

	.info-block i {
		font-size: 33px;
	}

	footer .copyright {
		font-size: 12px;
	}

	.legend .title {
		font-size: 17px;
	}

	.lImg {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		justify-content: center;
		padding: 0 0 18px 0;
		border-bottom: 1px solid #5d5d5d;
	}

	.playerStat .stats {
		display: block;
		padding: 5px;
	}

	.legStatList {
		display: flex;
		justify-content: center;
	}

	.playerStat .legStats {
		grid-template-columns: repeat(3, 1fr);
		padding-top: 15px;
	}

	.player-background {
		margin: 30px 0;
	}
	
	.playerInfo .update {
		display: inline-flex;
		width: 100%;
		justify-content: center;
		margin-left: 0px;
	}

	.playerInfo .status {
		display: inline-flex;
		width: 100%;
		justify-content: center;
		margin-left: 0px;
	}

	.match .matchInfo .matchStat .value {
		font-size: 19px;
	}

	.match .matchInfo .matchStat .name {
		font-size: 13px;
	}

	.match .matchInfo .character .legendMatch {
		font-size: 12px;
	}

	.match .matchInfo .character .name {
		font-size: 12px;
	}

	.match .matchInfo .timeInfo {
		text-align: center;
	}

	.playerInfo .avatar {
		margin: 5px;
	}

	.engCenter .text {
		font-size: 21px;
	}
}

@media only screen and (max-width: 576px) {

	[class^="col-"]{
		padding-left: 0;
		padding-right: 0;
	}

	.newsBlock .newsItem {
		height: 184px;
	}

	.newsItem .news-title {
		font-size: 20px;
		max-width: 321px;
	}

	.newsItem .news-desc {
		font-size: 16px;
		height: 44px;
	}

	header .discordButton {
		margin-top: 78px;
	}

	.searchIndex .platform-select {
		font-size: 13px;
	}

	.searchIndex .search {
		font-size: 15px;
	}

	.searchIndex .name {
		font-size: 14px;
	}

	header .aboutTitle {
		font-size: 18px;
	}

	footer .siteTitle {
		font-size: 14px;
	}

	footer .feedback {
		font-size: 13px;
	}

	footer .copyright {
		font-size: 11px;
	}

	.mobi-header {
		display: block;
	}

	.mobi-header .logo {
		display: inline-block;
	}

	.mobi-header .openMenu {
		display: inline-block;
		float: right;
		font-size: 23px;
		border: 1px solid #505050;
		padding: 0 15px;
		border-radius: 4px;
		cursor: pointer;
	}

	.newsPage .title {
		font-size: 21px;
	}

	.tableBord .top {
		display: block;
	}

	.tableBord .top .settings {
		justify-content: center;
		padding: 8px 0;
	}

	.playerInfo .stats {
		display: block;
	}

	.player-background .playerTitle .playerInfo {
		height: 699px;
	}

	.playerInfo .stats span.name {
		font-size: 19px;
	}

	.playerInfo .stats span.value {
		border-bottom: 1px solid #4a4a4a;
		padding-bottom: 5px;
		font-size: 28px;
	}

	.playerStat .stats .lStat {
		display: block;
	}

	.playerStat .stat {
		border-bottom: 1px solid #4a4a4a;
		margin-right: 0;
	}

	.stats span.name {
		font-size: 15px;
		margin-top: 9px;
	}

	.playerStat .legendImg {
		width: 31%;
		height: 1%;
	}

	.playerStat .stats {
		display: block;
		padding: 5px;
	}

	.lImg {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.match .matchInfo {
		font-size: 12px;
		padding: 17px 8px;
	}

	.match .matchInfo i {
		font-size: 24px;
		margin-left: 5px;
	}

	.playerInfo .stat {
		display: block;
		margin-right: 0;
	}

	.player-background {
		margin: 25px 0 25px 0;
	}

	.playerStat .legStats {
		grid-template-columns: repeat(2, 1fr);
	}

	.playerStat .legStats li {
		padding: 0 10px;
	}

	.mapSidebar .menu ul li {
		font-size: 14px;
	}

	.mapSidebar .showAll {
		font-size: 13px;
	}

	.mapSidebar,.hideSidebar {
		width: 281px;
	}

	.hideSidebar a {
		font-size: 15px;
	}

	.formFeed {
		margin: 10px 20px;
	}

	.formFeed input.uName {
		display: block;
		width: 100%;
	}

	.formFeed input.uMail {
		display: block;
		width: 100%;
	}

	.match .matchInfo .timeInfo {
		display: block;
		width: 100%;
		padding-bottom: 6px;
		border-bottom: 1px solid #4e4e4e;
	}

	.match .matchInfo .match {
		text-align: center;
	}

	.post-editor {
		padding: 0;
	}

}

@media only screen and (min-width: 576px) {
	.xsHeader {
		display: none;
	}
}

@media only screen and (max-width: 529px) {
	.xsHeader {
		width: 100%;
	}
}

@media only screen and (max-width: 440px) {

	.match .matchInfo .character {
		display: block;
		width: 100%;
		padding: 7px 0;
	}


	.match .matchInfo .matchStat {
		display: inline-block;
		padding: 0px;
	}

	.tableBord .top .settings {
		display: block;
	}

	.tableBord .platform {
		display: block;
		width: 100%;
	}

	.tableBord .platform .nice-select {
		font-size: 14px!important;
		margin: 5px 0;
		width: 100%;
	}

	.tableBord .sort {
		display: block;
		width: 100%;
		padding: 4px 0;
	}

	.tableBord .sort .nice-select {
		font-size: 14px!important;
		margin: 5px 0;
		width: 100%;
	}

	.nice-select.open .list {
		width: 100%;
	}

	.nice-select .option {
		font-weight: 300!important;
	}

	.tableBord th.match {
		display: none;
	}

	.tableBord td.wins {
		display: none;
	}

	.tableBord th.player {
		width: 60%;
		text-align: center;
	}

	.leaderbord .pagesList {
		justify-content: center;
	}

	.leaderbord .pagesList a.firstPage {
		font-size: 13px;
		font-weight: 700;
	}

	.leaderbord .pagesList a.lastPage {
		font-size: 13px;
		font-weight: 700;
	}

	.tableList td.nick {
		font-size: 13px;
	}

	.tableList td.place {
		text-align: center;
		padding-left: 6px;
	}

	.mapSidebar {
		width: 100%;
		z-index: 9997;
	}

	.hideSidebar {
		width: 100%;
		z-index: 9998;
	}

	.leaflet-control-container {
		top: 34px;
	}

	.xsHeader {
		z-index: 10000;
	}
}

@media only screen and (max-width: 375px) {
	.newsItem .news-title {
		font-size: 16px;
		max-width: 224px;
	}

	.newsBlock .newsItem {
		height: 166px;
	}

	.mini-leaderBord th {
		font-size: 15px;
	}

	header .discordButton {
		margin-top: 55px;
	}

	.sidebarNews .newsItem {
		height: 160px;
	}

	.playerStat .legStats li .val {
		font-size: 26px;
	}

	.playerStat .legStats li .name {
		width: 125px;
		font-size: 12px;
	}
}


@media only screen and (max-width: 320px) {
	.searchIndex .search {
		font-size: 13px;
	}

	.searchIndex .platform-select {
		font-size: 12px;
	}

	.mini-leaderBord th {
		font-size: 14px;
	}

	.newsPage .title {
		font-size: 18px;
	}
}